@import "tailwindcss";

@layer components {
  .container {
    margin: auto;
    padding: 1.25rem;
  }
  .primary {
    color: rgb(5, 227, 153);
  }

  .bg-primary {
    background-color: rgb(5, 227, 153);
  }
}
